@font-face {
    font-family: 'neacademia_display_trialIt';
    src: url('neacademiadisplaytrial-it-webfont.woff2') format('woff2'),
         url('neacademiadisplaytrial-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neacademia_display_trialRg';
    src: url('neacademiadisplaytrial-rg-webfont.woff2') format('woff2'),
         url('neacademiadisplaytrial-rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*
{
    margin: 0;
    padding: 0;
    /* overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll; */
}
 
html,
body
{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#canvasContainer {
    z-index: -5;
}

@keyframes blink {
	from { 
        opacity: 0;
         transform: scale(0.95);
    }
    to { 
        opacity: .6;
         transform: scale(1);
    }
}

#cursor {
    height: 3rem;
    width: 3rem;
    background-color: aliceblue;
    border-radius: 100%;
    
    position: absolute;
    z-index: 5;
    top: 82vh;
    left: 84vw;

    transform-origin: center;
    animation: blink .85s infinite;
    animation-direction: alternate;
    
    display: none;
}


#splash {
    width: 100%;
    height: 100%;
    background-color: black;

    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    z-index: 10;
}

#splash h1 {
    font-family: 'neacademia_display_trialRg';
    font-size: 2.5rem;
    text-align: center;
    color: whitesmoke;
}

#splash p {
    font-family: 'neacademia_display_trialRg';
    font-size: 1.5rem;
    text-align: center;
    color: whitesmoke;
}

#splash button {
    font-family: 'neacademia_display_trialRg';
    font-size: 1.5rem;
    
    padding: 1rem;
}


.narrator {
    height: 90vh;
    width: 100vw;
    
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}
 
.narrator p {
    font-family: 'neacademia_display_trialRg';
    font-size: 1.5rem;
    text-align: center;
    color: whitesmoke;
        
    position: absolute;
    z-index: 5;

    min-width: 30rem;
    max-width: 40rem;
    width: 60vw;
    
    text-shadow: 1px 1px 4px rgb(0 0 0 / 56%);
}

p i {
    font-family: 'neacademia_display_trialIt';
}

.allNarration {
    display: none;
}

#UI {
    height: 10vh;
    width: 10vw;
    margin: 2rem;
    
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;

    z-index: 5;
}

#UI p {
    font-family: 'neacademia_display_trialRg';
    font-variant: small-caps;
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
        
    position: absolute;
    z-index: 5;

    min-width: 30rem;
    max-width: 40rem;
    width: 60vw;
    
    text-shadow: 1px 1px 4px rgb(0 0 0 / 56%);
}

#UI div {
    height: 2rem;
    width: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}